.container-principal {
  max-width: 1000px;
  margin: 0 auto;
}
.animais-lista {
  height: 560px;
  overflow-y: scroll;
}
.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 10px;
}
.animais-lista::-webkit-scrollbar-thumb {
  background: #999;
  border-left: 2px solid #faf6ed;
  border-right: 2px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track {
  background: #fff;
}
.container-exp {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding-bottom: 150px;
}
.timeline-title {
  font-size: 35px;
  color: #333;
}
.sub-timeline-title {
  font-size: 25px;
  color: #8d979b;
  padding-bottom: 150px;
}
.text-align-xp {
  text-align: center;
  padding-top: 80px;
}
.animais-descricao {
  padding-left: 50px;
}
.animais-descricao h2 {
  color: #333;
}
.animais-descricao p {
  padding-bottom: 20px;
}

.js-tabcontent section {
  display: none;
}
.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 840px) {
  .container-exp {
    padding: 10px;
    grid-template-columns: 200px 1fr;
  }
}
@media (max-width: 840px) {
  .container-exp {
    grid-template-columns: 100px 1fr;
  }
}

@media (max-width: 600px) {
  .timeline-title {
    font-size: 30px;
    color: #333;
  }
  .sub-timeline-title {
    font-size: 20px;
  }
}
@media (max-width: 500px){
  .animais-descricao {
    padding-left: 10px;
  }
 .text-align-xp{
   padding-top: 30px;
 }
  .sub-timeline-title {
   padding-bottom: 30px;
  }
  .animais-lista{
    height: 470px;
  }
}
.js-tabmenu li.ativo{
  border: 5px solid #8d979b;
}
