.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-default {
  padding: 20px 80px 0 80px;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 22229;
  color: #fff;
  box-sizing: border-box;
}

.menu-nav a {
  padding: 10px;
  text-transform: uppercase;
}
.home-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 35px;
  width: 2px;
  height: 100%;
  border-right: 1px solid #fff;
}
.home-nav {
  border: 1px solid #fff;
  width: 100px;
  height: 25px;
  padding: 9px 20px;
  line-height: 11px;
  margin-left: 15px !important;
  position: relative;
  text-indent: 35px;
  background: url(../img/logo.png) no-repeat 10px 50%;
}
.home-nav a{
  font-size: 16px;
  font-weight: 400;
  padding: 7px 15px;
  position: absolute;
  left: -2px;
  top: -1px;
}

.menu-nav a {
  padding: 16px 0;
  display: inline-block;
  position: relative;
}

.menu-nav a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: white;
  margin-top: 4px;
  transition: 0.4s;
  position: absolute;
}
.menu-nav a:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  margin-top: 4px;
}
.navbar-default.sticky{
  background: #333;
  padding-bottom: 10px;
  transition: 0.6s;
  box-shadow: 0 0 10px -3px #2e3d42;
  z-index: 100000;
}